<div class="h-screen text-white font-bold font-base w-full p-2 grid md:grid-cols-1 lg:grid-cols-3">
  <h2 class="block lg:hidden text-4xl text-center">Hades 2 Deck Builder</h2>
  <div class="block lg:hidden text-right p-5">
    Total Cost: {{ getTotalCost() }}
  </div>
  <div class="grid grid-cols-5 grid-rows-5 gap-5 p-5">
    @for (arcana of deck().arcanas(); track arcana.id) {
      <div
        [ngClass]="{
          'cursor-not-allowed': arcana.getType() == ArcanaType.CONDITIONAL,
          'cursor-pointer': arcana.getType() == ArcanaType.SELECTABLE
        }"
        class="relative hover:scale-125 transition-all"
        (click)="deck().click(arcana.id); recalculateCode()"
        (mouseenter)="onHover(arcana)"
      >
        <img class="h-full" [src]="arcana.id+'.webp'">

        @if (arcana.isActive()) {
          <div class="absolute w-full h-full custom-grad left-0 top-0 inline-block"></div>
        }
        <div class="absolute h-7 w-7 -right-3 -top-3 bg-black border-3 border-blue-950 rounded-full text-center">

          <span class="font-bold text-white">{{ arcana.cost }}</span>
        </div>
      </div>
    }
  </div>
  <div class="flex flex-col h-full items-center">
    <!-- Heading pinned to top -->
    <h2 class="hidden lg:block text-4xl mt-6">Hades 2 Deck Builder</h2>

    <!-- Spacer pushes rest to center -->
    <div class="flex-1 flex flex-col items-center justify-center gap-5">
      @if (selectedArcana) {
        <img class="h-56 mb-4" [src]="selectedArcana.id + '.webp'" />
        <div class="text-3xl">{{ selectedArcana.name }}</div>
        <div class="text-center text-xl" [innerHtml]="selectedArcana.description"></div>
      }
    </div>
  </div>
  <div class="flex flex-col justify-between">
    <div class="hidden lg:block self-end p-5">
      Total Cost: {{ getTotalCost() }}
    </div>
    <div class="flex flex-col gap-2">
      <input class="h-12 text-xl font-normal border-2  border-[#6FBE94] bg-[#416e56] shadow-xl rounded-2xl p-3 text-gray-300" type="text" [value]="code">
      <div class="text-gray-300 self-center cursor-pointer" (click)="copy()">Click to copy</div>
    </div>
    <div class="text-sm font-normal text-gray-400 text-center lg:text-right pt-12 ">
      This is an unofficial fan site. Hades 2, its logos, characters, and assets are trademarks and copyrighted by
      Supergiant Games. Not affiliated with or endorsed by Supergiant.
      <br>
      <br>
      If you’re a rights holder and want us to remove or clarify content, please email teheidoma&commat;gmail.com.
    </div>
  </div>

</div>
