<div class="h-screen w-screen p-5  grid md:grid-cols-1 lg:grid-cols-3">
  <div class="grid grid-cols-5 grid-rows-5 gap-5">
    @for (arcana of deck().arcanas(); track arcana.id) {
      <div
        [ngClass]="{
          'cursor-not-allowed': arcana.getType() == ArcanaType.CONDITIONAL,
          'cursor-pointer': arcana.getType() == ArcanaType.SELECTABLE
        }"
        class="relative hover:scale-125 transition-all"
        (click)="deck().click(arcana.id); recalculateCode()"
        (mouseenter)="onHover(arcana)"
      >
        <img class="h-full" [src]="arcana.id+'.webp'">

        @if (arcana.isActive()) {
          <div class="absolute w-full h-full custom-grad left-0 top-0 inline-block"></div>
        }
        <div class="absolute h-7 w-7 -right-3 -top-3 bg-black border-3 border-blue-950 rounded-full text-center">

          <span class="font-bold text-white">{{ arcana.cost }}</span>
        </div>
      </div>
    }
  </div>
  <div class="flex flex-col items-center justify-center">
    @if (selectedArcana) {
      <img class="h-56" [src]="selectedArcana.id+'.webp'"/>
      <div>{{ selectedArcana.name }}</div>
      <div>{{ selectedArcana.isActive() }}</div>
      <div>{{ selectedArcana.description }}</div>
    }
  </div>
  <div>
    {{ getTotalCost() }}
    {{code}}
  </div>
</div>
