@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@theme {
  --font-base: 'Ubuntu', sans-serif;
  --color-rare: #008aff;
  --color-epic: #9d12ff;
  --color-legendary: #F86059;
}

.custom-grad {
  background: linear-gradient(
    0deg,
    rgb(7, 152, 196, 0.5) 0%,
    rgba(33, 173, 224, 0.3) 30%,
    rgba(33, 144, 224, 0.1) 70%
  );
}
.grad {
  background: #0B0A0A;
  background: linear-gradient(54deg, rgba(30, 29, 43, 1) 0%, rgba(30, 84, 74, 1) 50%, rgba(53, 144, 101, 1) 80%) fixed no-repeat;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes spinBorder {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.active-selection {
  position: relative;
  z-index: 0;
}

.active-selection::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 5px;
  box-shadow: 0 0 8px #00ffa3, 0 0 16px #00eaff;

  background: conic-gradient(from var(--angle),
  #00ffa3,
  #00ffcc,
  #00eaff,
  #0077ff,
  #004d80,
  #00ffa3
  );

  animation: spinBorder 8s linear infinite;
  --angle: 0deg;

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
  z-index: 2;
}

.active-selection img {
  position: relative;
  z-index: 0;
  transition: all 0.5s ease;
  filter: brightness(1.3) saturate(1.3) hue-rotate(140deg);
  box-shadow: inset 0 0 10px #00ffc3, inset 0 0 20px #00eaff;
  border-radius: 12px;
}


