@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@theme {
  --font-base: 'Ubuntu', sans-serif;
  --color-rare: #008aff;
  --color-epic: #9d12ff;
  --color-legendary: #F86059;
}

.custom-grad {
  background: linear-gradient(
    0deg,
    rgb(7, 152, 196) 0%,
    rgba(33, 173, 224, 0.5) 30%,
    rgba(33, 144, 224, 0.1) 70%
  );
}
.grad {
  background: #0B0A0A;
  background: linear-gradient(54deg, rgba(30, 29, 43, 1) 0%, rgba(30, 84, 74, 1) 50%, rgba(53, 144, 101, 1) 80%) fixed no-repeat;
}
